<div class="card" style="margin: 1rem;">
  <h5 class="card-header">{{first_name}} {{last_name}}</h5>
  <div class="card-body">
    <h5 class="card-title">Belongs to {{users.username}} User</h5>
    {{!-- <p class="card-text">Create a new filing without needing another account</p> --}}
    {{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCasualModal">
      Casual
    </button>
    <button type="button" class="btn btn-primary" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#createSalaryModal" disabled>
      Salary
    </button> --}}
  </div>
</div>