<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tax Calulcator</title>
</head>

<body>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
    <title>Document</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="/">Tax Calculator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            {{#if logged_in}}
            <li class="nav-item">
              <a class="nav-link text-light" href="/calculator">Calulcator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/profile">Profile</a>
            </li>
            <li class="nav-item" style="margin-right: 10px;">
              <button id="logoutButton" type="button" class="btn btn-primary">
                Log out
              </button>
            </li>
            {{else}}
            <li class="nav-item" style="margin-right: 10px;">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login">
                Log In
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signUpModal">
                Sign Up
              </button>
              </li>

              {{/if}}

              <!-- Log In -->
              <div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="loginLabel">Login</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form class="login-form">
                        <div class="mb-3">
                          <label for="loginEmail" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="loginPassword" class="form-label">Password</label>
                          <input type="password" class="form-control" id="loginPassword">
                        </div>
                        <button type="submit" id="login-confirm" class="btn btn-primary">Log In</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Sign Up -->
              <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="signUpLabel">Sign Up</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form class="signup-form">
                        <div class="mb-3">
                          <label for="signUpEmail" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="signUpEmail" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="signUpUsername" class="form-label">Username</label>
                          <input type="text" class="form-control" id="signUpUsername" aria-describedby="usernameHelp">
                        </div>
                        <div class="mb-3">
                          <label for="signUpPassword" class="form-label">Password</label>
                          <input type="password" class="form-control" id="signUpPassword">
                        </div>
                        <button type="submit" id="signup-confirm" class="btn btn-primary">Create Account</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}

    <footer>


    </footer>

     {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{else}}
    <script src="./js/login.js"></script>
  {{/if}}

  </body>

  </html>

</body>
</html>