{{#if logged_in}}
<h2 style="padding: 1rem;">Hello {{username}}</h2>

<div class="card" style="margin: 1rem;">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Create new filing</h5>
    <p class="card-text">Create a new filing without needing another account</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCasualModal">
      Casual
    </button>
    <button type="button" class="btn btn-primary" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#createSalaryModal" disabled>
      Salary
    </button>
  </div>
</div>

{{#each taxpayers as |taxpayer|}}
{{> displayTaxpayers}}
{{/each}}

<!-- Causal -->
<div class="modal fade dark-dark" id="createCasualModal" tabindex="-1" role="dialog" aria-labelledby="casualModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="casualModalLabel">Create new Casual Filing</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </button>
      </div>
      <div class="modal-body">
        {{> newCasual}}
      </div>
      <div class="modal-footer">
       </div>
    </div>
  </div>
</div>

<!-- Salary -->
<div class="modal fade " id="createSalaryModal" tabindex="-1" role="dialog" aria-labelledby="SalaryModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="SalaryModalLabel">Create new Salary Filing</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </button>
      </div>
      <div class="modal-body">
        {{> newSalary}}
      </div>
    </div>
  </div>
</div>
{{else}}
{{!-- {{> login}} --}}
{{/if}}